@import '../../../../scss/colors.scss';


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    padding: 2rem;
    .custom-card{
        display: flex;
        flex-direction: row;
        border: none;
    }
    .card-title {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        flex: 1;
        padding: 1rem 0;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 0 4px rgb(0 0 0 / 23%);
        &:nth-child(2) {
            background-color : $default-white;
            color: $default-primary;
        }
        &:nth-child(1) {
            background-color : $default-primary;
            color: $default-secundary;
        }
        .title {
            letter-spacing: 0.3rem;
            font-weight: 100;
        }
        .card-text {
            padding: 2rem;
            font-size: 0.85rem;
            line-height: 1.6em;
        }
    }
    .card-image {
        display: flex;
        flex: 1;
        padding: 0;
        height: 19.5rem;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 0 4px rgb(0 0 0 / 23%);
        .img {
            width: 100%;
            background-attachment: initial;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .btn {
        color: $default-buttonAlternative;
        border-color: $default-buttonAlternative;
        &:hover {
            background-color: $default-buttonAlternative;
            color: $default-white;
        }
    }
    
}


