<div class="container">
    <div class="column">
        <div class="row">
            <div class="card custom-card">
                <div class="card-body card-image">
                    <img [src]="images[0]" alt="Random first slide" class="img" />
                </div>
                <div class="card-body card-title">
                    <h5 class="title">Reserve um horário</h5>
                    <p class="card-text"> 
                        Este é um ótimo espaço para escrever um texto longo sobre a sua empresa e seus serviços. 
                        Você pode usar esse espaço para detalhar a sua empresa.
                    </p>
                    <div>
                        <button type="button" class="btn btn-outline-primary">Reservar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>