<div class="MainContainer">
      
        <section class="container-contact">
          <div class="container">
            <div class="row centered">
              <div class="col-md-4 contact-details">
                <div class="details">
                  <p>Anfarrô</p>
                  <label> Rua 136, 999, Sl999 Ed. New York, Setor Sul</label>
                </div>
                <div class="details">
                  <p>Telefone</p>
                  <label>(62) 99999 9999</label>
                </div>
                <div class="details">
                  <p>Email</p>
                  <label>anfarro.loc@gmail.com</label>
                </div>
                <div class="details">
                    <p>Horários</p>
                    <label>de 08:00 ás 18:00</label>
                </div>
              </div>
              <div class="col-md-8">
                <div class="maps">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3821.597272606444!2d-49.257570084584245!3d-16.697024550250745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRua%20136%2C%20999%2C%20Sl999%20Ed.%20New%20York%2C%20Setor%20Sul!5e0!3m2!1spt-BR!2sbr!4v1616349787601!5m2!1spt-BR!2sbr" 
                        width="700" 
                        height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy">
                    </iframe>
                </div>
              </div>
            </div>
          </div>
        </section>
</div>
      