@import '../../../../scss/colors.scss';

p { 
    margin-bottom: 0.5rem; 
    font-weight: 500;
}

.carousel { 
    width: 50%; 
    margin: 2rem auto; 
    .picsum-img-wrapper { 
        height: 35rem; 
        .img{ 
            width: 100%; 
            margin: auto; 
            background-repeat: no-repeat; 
        } 
    }
}