<header class="site-header">
    <nav class="navbar navbar-default">
        <div class="top-line">
            <p>
              <span><a class="whatzap" href="https://api.whatsapp.com/send?phone=+5561991500959" target="_blank">+55 (61) 99150-0959 </a></span>
              <span><a class="whatzap" href="https://api.whatsapp.com/send?phone=+5561991500959" target="_blank"><fa-icon [icon]="faPinterest" class="icon"></fa-icon></a></span>
                <span><a class="instagram" href="https://www.instagram.com/obrunnodiego/" target="_blank"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></a></span>
            </p>
        </div>
          <div class="header-inner">
            <nav id="nav-wrap" class="main-nav">
              <ul class="sf-menu">
                  <li><a routerLink=""> Home</a></li>
                  <li><a routerLink="/about">Sobre</a></li>
                  <li><a routerLink="/among-us">Entre nós</a></li>
                  <li><a routerLink="/contact">Contato</a></li>
                  <li><a routerLink="/localization">Localização</a></li>
              </ul>
            </nav>
        </div>
    </nav>
</header>
      