<footer class="site-footer">
    <div style="display: flex; align-items: center;">
        <div class="col-md-10 col-sm-6 col-xs-12 custom-footer">
            <div style="display: flex; flex-direction: column; flex: 1; align-items: center;">
                <div style="text-align: start;">
                    <p class="copyright-text">Agende a sua visita</p>
                    <!-- trocar o numero do whatsapp -->
                    <a class="whatzap" href="https://api.whatsapp.com/send?phone=+5561991500959" target="_blank">+55 (62) 99999 9999 </a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; flex: 1; align-items: center;">
                    <div style="text-align: start;">
                        <p class="copyright-text">Endereço</p>
                        <span>Rua 136, 999, Sl999 </span>
                        <br />
                        <span>Ed. New York, Setor Sul</span>
                    </div>
            </div>
            <div style="display: flex; flex-direction: column; flex: 1; align-items: center;">
                <div style="text-align: start;">
                    <p class="copyright-text">Newsletter</p>
                    <div class="subscribe-form ">
                        <form action="#" >
                            <input type="text" placeholder="seu_email@gmail.com">
                            <button><fa-icon [icon]="faPaperPlane" class="icon"></fa-icon></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12 custom-info">
          <p>Siga-nos</p>
          <ul class="social-icons"> 
            <li><a class="pinterest" href="https://api.whatsapp.com/send?phone=+5561991500959" target="_blank"><fa-icon [icon]="faPinterest" class="icon"></fa-icon></a></li>
            <li><a class="instagram" href="https://www.instagram.com/obrunnodiego/" target="_blank"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></a></li>
          </ul>
        </div>
    </div>
</footer>